* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;

}

body {
    height: 100vh;
    background: linear-gradient(135deg, #8052ec, #d161ff);
    font-size: 1rem;
}

.wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

}

/*👉the container is of 70% of wrapper parent and contains 3 box in row and col each so we give each box height and width of 22view ht wdt minimum and gap of 2vmin that means 66+4=70👈*/
.container {
    width: 55vmin;
    height: 55vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
}

.button-option {
    background: #ffffff;
    height: 17vmin;
    width: 17vmin;
    border: none;
    border-radius: 8px;
    font-size: 12vmin;
    color: #d161ff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#restart {
    font-size: 1.3rem;
    padding: 1em;
    border-radius: 8px;
    background-color: #0a0027;
    color: #ffffff;
    position: relative;
    margin: 1.5em auto 0 auto;
    display: block;
}

.popup {
    background: linear-gradient(135deg, #8052ec, #d161ff);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    font-size: 7vmin;
    /*👉 text-align: center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;👈*/

}

#new-game {
    font-size: 0.6em;
    padding: 0.5em 1em;
    background-color: #0a0027;
    color: #ffffff;
    border-radius: 0.2em;
    border: none;
}

#message {
    color: #ffffff;
    text-align: center;
    font-size: 1em;
}

.hide {
    display: none;
}
.wrap.six {
    background-color: #222222;
    border-radius: 20%;
}

.flicker {
    font-size: 5rem;
    font-family: 'Merienda', sans-serif;
    margin: 1rem auto;
    color: #fffefe61;
    background: -webkit-gradient(linear, left top, right top, from(#e6e6e6), to(#1d1c1c), color-stop(0.8, #ffffff)) no-repeat;
    background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.8, #fff)) no-repeat;
    background-size: 110px 100%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: flick 1.5s infinite;
}

@keyframes flick {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}
